*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
out/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### OS X ###
.DS_Store

### Maven ###
.mvn/
.mvn/wrapper/maven-wrapper.jar

### Docker ###
*.pid
docker-compose.override.yml
=======
# Logs
*.log

echo ".github/" >> .gitignore
echo "checkstyle.xml" >> .gitignore
echo "docker-compose.yml" >> .gitignore
echo "ewm-main-service-spec.json" >> .gitignore
echo "ewm-stats-service-spec.json" >> .gitignore
echo "lombok.config" >> .gitignore
echo "suppressions.xml" >> .gitignore
