# Database files
*.db
*.mv.db
*.trace.db
main-service/data/
stats-service/stat-svc-service/data/

# Java
*.class
*.jar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

echo ".github/" >> .gitignore
echo "checkstyle.xml" >> .gitignore
echo "docker-compose.yml" >> .gitignore
echo "ewm-main-service-spec.json" >> .gitignore
echo "ewm-stats-service-spec.json" >> .gitignore
echo "lombok.config" >> .gitignore
echo "suppressions.xml" >> .gitignore